{{ if eq .chezmoi.osRelease.idLike "arch" }}
#!/bin/bash
# All requirements for i3
sudo pacman -S curl picom i3-gaps polybar dunst dmenu i3lock bluez-tools blueberry pavucontrol tmux feh dex yay xss-lock network-manager-applet playerctl alacritty git gnome-keyring jq arandr --noconfirm

yay -S nerd-fonts-complete spotify spicetify-cli --noconfirm

sudo chmod a+wr /opt/spotify
sudo chmod a+wr /opt/spotify/Apps -R

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

{{ end }}
