{{ if eq .chezmoi.osRelease.idLike "arch" }}
#!/bin/bash
# All requirements for i3
sudo pacman -S picom i3-gaps polybar dunst dmenu i3lock bluez-tools tmux feh dex yay xss-lock network-manager-applet playerctl alacritty --noconfirm
{{ end }}
