{{ if ne .chezmoi.os "windows" }}
#!/bin/bash
	# {{ if eq .chezmoi.os "linux" -}}
	# {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
	# sudo apt install ripgrep
	# {{ end -}}
	# {{ end -}}
	# Exemple: https://github.com/RichiCoder1/dotfiles/blob/master/executable_install-tools.sh.tmpl

	{{ if eq .chezmoi.os "linux" -}}
		{{ if eq .chezmoi.osRelease.idLike "arch" }}
			sudo pacman -S picom i3-gaps polybar dunst
		{{ end }} 
	# {{ else if eq .chezmoi.os "darwin" -}}
	{{ end -}}
{{ end -}}
