{{- if eq .chezmoi.osRelease.idLike "arch" -}}
#!/bin/bash

# Common packages
# ## yay => Use to install AUR packages | Used by (Here in below)
# ## keepassxc => Use to manage keepassxc
packages=(curl git gitui yay keepassxc)
# ## falchion-shutdown | My custom AUR packages to avoid shutdown my computer when keyboard is sleeping
# ## nerd-fonts-complete | To install my preferred fonts :)
aur_packages=(falchion-shutdown nerd-fonts-complete spotify)

# For terminal
# ## kitty => Terminal emulator like alacritty but it look more powerfull so it can replace alacritty and tmux in future
# ## viu => Terminal image viewer compatible with kitty
packages+=(kitty viu zsh)

# For development
# ## Modern replacement of vim with lua support
# ## rust-analyzer => Use in replacement of RLS | Used by (emacs-ng + neovim + vscode if installed)
packages+=(neovim rust-analyzer)

{{ if eq .wm "i3wm" }}
{{- template "i3wm_before" -}}
{{ else if eq .wm "gnome" }}
{{- template "gnome_before" -}}
{{ end }}

sudo pacman -S ${packages[@]} --noconfirm --needed
yay -S ${aur_packages[@]} --noconfirm --needed

if [ ! -d ~/.tmux/plugins/tpm ]; then
	git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

{{ if eq .wm "i3wm" }}
{{- template "i3wm_after" -}}
{{ else if eq .wm "gnome" }}
{{- template "gnome_after" -}}
{{ end }}

{{- end -}}
